{%  extends 'portfolio/nav.html' %}
{% block base %}
    {% load static %}
<title>José Aguiar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io-2/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io-2/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io-2/favicon-16x16.png'%}">
    <link rel="manifest" href="/site.webmanifest">
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-color w3-animate-right"  style="background-color: #131418">
<nav class="navbar navbar-expand-lg" style=" height: 80px;">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item ml-1 " style="weight:100px;padding-left:20px;padding-right:20px;">
            <form   action="{% url 'home'%}">
            <button  type="submit" class=" btn-lg btn-close btn-close-white " aria-label="Close"
                    style=" padding: 10px 20px;font-size: 30px;border-radius: 10px;" ></button>
            </form>
        </li>
    </ul>
</nav>

{% load static %}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-text-white w3-card-4" style="background-color: #1A1C22">
                <div class="w3-display-container">
                    <img src="{% static 'traje.png' %}" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-light-white">
                        <h2>{{ data.name }}</h2>
                    </div>
                </div>
                <br>
                <div class="w3-container">
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large " style="color: #ff5100;"></i>{{ data.work }}</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large " style="color: #ff5100;"></i>{{ data.local }}</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large " style="color: #ff5100;"></i>{{ data.email }}</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large " style="color: #ff5100;"></i>{{ data.phone }}</p>
                    <hr>
                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right " style="color: #ff5100;"></i>Skills</b></p>
                    {% for skill in skills %}

                        <div>
                            <p>{{skill.name}}</p>
                            <div class="w3-light-white w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge " style="width:{{skill.perc}};color: #ff5100;">{{skill.perc}}</div>
                            </div>
                        </div>
                    {% endfor %}

                    <br>

                    <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right " style="color: #ff5100;"></i>Languages</b></p>
                    {% for language in languages %}
                        <div>
                            <p>{{language.name}}</p>
                            <div class="w3-light-white w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge " style="height:24px;width:{{language.perc}}">{{language.perc}}</div>
                            </div>
                        </div>
                    {% endfor %}

                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-text-white w3-card  w3-margin-bottom" style="background-color: #1A1C22">
                <h2 class="w3-text-white w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge "style="color: #ff5100;"></i>Work Experience</h2>
                {% for work in works %}

                    <div>
                        <h5 class="w3-opacity"><b>{{work.title}}</b></h5>
                        <h6 class="" style="color: #ff5100;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{work.dateS|date:'F Y'}} <span class="w3-tag  w3-round" style="color: #ff5100;">{work.dateE|date:'F Y'}}</span></h6>
                        <p>{{ work.description|striptags}}</p>
                        <hr>
                    </div>
                {% endfor %}
                <br>
            </div>

            <div class="w3-container w3-card w3-text-white" style="background-color: #1A1C22">
                <h2 class="w3-text-white w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge " style="color: #ff5100;"></i>Education</h2>

                {% for education in educations %}

                    <div>
                        <h5 class="w3-opacity"><b>{{education.title}}</b></h5>
                        <h6 class=""><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{education.dateS|date:'F Y'}} <span class="w3-tag  w3-round" style="color: #ff5100;">{education.dateE|date:'F Y'}}</span></h6>
                        <p>{{ education.description|striptags}}</p>
                        <hr>
                    </div>
                {% endfor %}
                <br>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>


</body>

    <script>
        var element = document.getElementById('back-link');

        // Provide a standard href to facilitate standard browser features such as
        //  - Hover to see link
        //  - Right click and copy link
        //  - Right click and open in new tab
        element.setAttribute('href', document.referrer);

        // We can't let the browser use the above href for navigation. If it does,
        // the browser will think that it is a regular link, and place the current
        // page on the browser history, so that if the user clicks "back" again,
        // it'll actually return to this page. We need to perform a native back to
        // integrate properly into the browser's history behavior
        element.onclick = function() {
            history.back();
            return false;
        }
    </script>
{% endblock %}

